<!-- This will have a top element (window bar) and a bottom element (window content) -->
<div class="window">
    <!-- has a title component and a buttons component, buttons is decorative for now -->
    <div class="window-top-bar">
        <div class="window-title">
            <h4 class="window-title-text">testing title</h4>
        </div>
        <div class="window-buttons">
            <!-- empty but has min size, background image due to CSS, will have 3 buttons -->
        </div>
    </div>
    <div class="window-bottom">
        <p>test content here...</p>
    </div>
</div>